
<%- include('../partials/head.ejs') %>
<%-include('../partials/navigation.ejs') %>

<div class=" container my-container">
    <section>
        <div class="welcome_text">
            <h2 class="text-center">Welcome To Krisok Bangla</h2>
            <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae natus aperiam inventore sequi nemo. Soluta tenetur consequuntur consequatur molestiae cupiditate!</h5>
        </div>
    </section>

    <section>
        <div class="row a">
            <div class="col-md-6">
                <img class="f_img" src="/images/1296962.svg" alt="">
                <h4>For Farmer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste adipisci voluptates dolores nesciunt nobis officiis.</p>
                <p class="f-link"><a  href="/auth/signup">Signup as A Farmer</a></p>
            </div>
        </div>
        <div class="row b">
            <div class="col-md-6 offset-6">
                <img class="b_img" src="/images/296833.svg" alt="">
                <h4>For Dealer</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eveniet quidem et neque! Ipsum, porro.</p>
                <p class="b-link"><a  href="/auth/signup">Signup as A Buyer</a></p>
            </div>
        </div> 
    </section>
</div>
    

    <%- include('../partials/footer.ejs') %>

</body>
</html>